[submodule "dummySubmodule2"]
	path = dummySubmodule2
	url = git@github.com:tlorach/dummySubmodule2.git
	branch = test

[submodule "dummySubmodule1"]
	path = dummySubmodule1
	url = git@github.com:tlorach/dummySubmodule1.git
